body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    margin-bottom: 10px; /* Changed from 20px to 10px */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    background-color: #004080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003060;
}

.checkbox-group {
    display: block;
    font-size: .9rem;
    margin-bottom: 10px; /* Added to ensure spacing between sections */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
    vertical-align: middle;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px; /* Space between each checkbox item */
}

.optional {
    color: blue;
    font-style: italic;
    margin-left: 5px; /* Ensures space between field label and (Optional) text */
}
.rating-section {
    margin-bottom: 10px; /* Espaço entre a seção de avaliação e a data de instalação */
}



