/* styles/menu.css */
.menu-toggle {
    display: none; /* Inicialmente oculto em telas maiores */
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media screen and (max-width: 768px) {
    /* Mostrar botão do hamburguer em telas menores */
    .menu-toggle {
        display: block;
    }

    /* Ocultar o menu na versão hamburguer */
    #main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px; /* Ajustado para ficar à direita */
        background-color: #333;
    }

    /* Mostrar o menu hamburguer quando ativo */
    #main-nav.active {
        display: flex;
    }

    #main-nav a {
        padding: 10px;
        color: #fff;
        text-align: center;
    }
}




