body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero, .content, .details, .future {
    margin-bottom: 20px;
    background-color: #80c1ff;
    padding: 15px;
    border-radius: 8px;
}

/* Estilo para as imagens nas páginas de conteúdo */
.page-image {
    display: block;        /* Garante que a imagem seja tratada como bloco */
    margin: 20px auto;     /* Adiciona margem automática e define 20px de margem superior e inferior */
    max-width: 300px;       /* Garante que a imagem não exceda a largura da tela */
    height: auto;          /* Mantém a proporção da imagem */
}

/* Ajusta a margem superior para a imagem se estiver logo abaixo do menu */
header + main .page-image {
    margin-top: 10px;      /* Define uma margem superior para separar a imagem do menu */
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}