/* Default (light) theme styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme changes */
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero, .content, .details, .future {
    margin-bottom: 20px;
    background-color: #80c1ff;
    padding: 15px;
    border-radius: 8px;
}

/* Styling for images on content pages */
.page-image {
    display: block;        /* Ensures the image is treated as a block */
    margin: 20px auto;     /* Adds automatic margin and sets 20px margin top and bottom */
    max-width: 300px;      /* Ensures the image does not exceed the width of the screen */
    height: auto;          /* Maintains the image aspect ratio */
}

/* Adjusts top margin for the image if it's right below the menu */
header + main .page-image {
    margin-top: 10px;      /* Sets a top margin to separate the image from the menu */
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Dark theme styles */
.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.dark-theme header {
    background-color: #004080;
    color: white;
}

.dark-theme .hero, .dark-theme .content, .dark-theme .details, .dark-theme .future {
    background-color: #0056b3; /* Darker blue for dark theme */
}

.dark-theme footer {
    background-color: #004080;
    color: white;
}

.dark-theme .page-image {
    border: 2px solid #ffffff; /* Optional: Adds a border to images in dark theme */
}
